.bg-image{
  position: relative;
  background: linear-gradient(rgba(8,8,8,0.3),rgba(8,8,8,0.3));
  background-image: url("C:\Users\asus\Desktop\FOOD RECIPE\recipe\public\recipe.jpg");
  min-height: 100vh;
  background-size: cover;
  
}

.text-content{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.header-title{
  text-transform: uppercase;
  letter-spacing: 16px;
  color: aliceblue;
  font-size: 80px;
  margin-bottom: 32px;
}
.search-box{
  padding-top: 100px !important;
  padding-bottom: 20px !important;
}
.search-heading{
  font-size: 30px;
  margin-bottom: 16px;
}
.detailspagecontent{
  padding-top: 100px !important;
}
.navbar{
  background-color: aqua;
}
.carousel{
  padding-bottom: 240px ;
  margin: 10px;
}
.carousel-container {
 margin: auto;
 padding: auto;
}


.carousel-caption h5 {
 margin: auto;
}

.carousel-caption p {
  margin: auto;
}
/* .offercard{
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 400px;
  
  
  
} */
.bg-body-tertiary{
  margin: 50px;
  padding: 0%;
  background-color: rgb(234, 238, 238);
}

.App{
  margin: 40px;
 padding-bottom: 40px;
 
 border: 2px solid rgb(1, 1, 17);
 border-radius: 30px;
 box-shadow: 50px solid black;
 height: 500px;
 width: 50%;
background-color: greenyellow;
justify-content: center;
display: flex;
flex-wrap: wrap;
}

.registration-form{
  
    margin-left:450px;
    padding:120px; 
    margin: 80px;
    padding-bottom: 80px;
    
    border: 2px solid rgb(1, 1, 17);
    border-radius: 40px;
    box-shadow: 100px solid black;
    height: 450px;
    width: 40%;
  /* background-image: url("C:\Users\asus\Desktop\FOOD RECIPE\recipe\public\r-15.jpg"); */
  min-height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
    
  }
  .btn{
    justify-content: center;
    width: 100%;
    border: 2px solid black;
    border-radius: 40px;
 
  }
 .form1{
  width: 100%;
  height: 50px;
  border: 2px solid red;
  border-radius: 40px;
 }
 .offercard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offercard {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
